main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.volta-home {
  margin-bottom: 1rem;
}

.volta-home a {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--link-color);
}

#lista-alunos {
  width: 600px;
  margin: 20px auto;
  background-color: var(--background);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, border-color 0.3s;
}

@media (max-width: 600px) {
  #lista-alunos {
    width: 100%;
    padding: 15px;
  }
  main {
    margin: 10px;
  }
  .meu-alerta {
    width: 250px;
  }
}

#lista-alunos > div {
  background-color: var(--footer-bg);
  border: 1px solid #bbb;
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

#lista-alunos > div:hover {
  background-color: var(--btn-bg);
}

#lista-alunos p {
  margin: 5px 0;
  color: var(--header-text);
}

#lista-alunos p b {
  color: var(--link-color);
}


.sem-alunos {
  color: var(--input-placeholder);
  font-style: italic;
  text-align: center;
  margin: 2rem 0;
  font-size: 1.2rem;
}

#btn-deletar {
  margin-top: 2rem;
  background-color: #e03e3e;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btn-deletar:hover {
  background-color: #b93131;
}

.situacao-aprovado {
  color: green;
  font-weight: bold;
}

.situacao-reprovado {
  color: red;
  font-weight: bold;
}
